Section7_WS_SOAP/src/soap_webservice/FilmSOAPWebServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://soap_webservice/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap_webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap_webservice/" schemaLocation="FilmSOAPWebServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllFilms">
    <part name="parameters" element="tns:getAllFilms"/>
  </message>
  <message name="getAllFilmsResponse">
    <part name="parameters" element="tns:getAllFilmsResponse"/>
  </message>
  <message name="JAXBException">
    <part name="fault" element="tns:JAXBException"/>
  </message>
  <message name="getFilmByName">
    <part name="parameters" element="tns:getFilmByName"/>
  </message>
  <message name="getFilmByNameResponse">
    <part name="parameters" element="tns:getFilmByNameResponse"/>
  </message>
  <message name="getFilmById">
    <part name="parameters" element="tns:getFilmById"/>
  </message>
  <message name="getFilmByIdResponse">
    <part name="parameters" element="tns:getFilmByIdResponse"/>
  </message>
  <message name="addFilm">
    <part name="parameters" element="tns:addFilm"/>
  </message>
  <message name="addFilmResponse">
    <part name="parameters" element="tns:addFilmResponse"/>
  </message>
  <message name="updateFilm">
    <part name="parameters" element="tns:updateFilm"/>
  </message>
  <message name="updateFilmResponse">
    <part name="parameters" element="tns:updateFilmResponse"/>
  </message>
  <message name="deleteFilm">
    <part name="parameters" element="tns:deleteFilm"/>
  </message>
  <message name="deleteFilmResponse">
    <part name="parameters" element="tns:deleteFilmResponse"/>
  </message>
  <portType name="FilmSOAPWebService">
    <operation name="getAllFilms">
      <input ns1:Action="http://soap_webservice/FilmSOAPWebService/getAllFilmsRequest" message="tns:getAllFilms" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://soap_webservice/FilmSOAPWebService/getAllFilmsResponse" message="tns:getAllFilmsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:JAXBException" name="JAXBException" ns3:Action="http://soap_webservice/FilmSOAPWebService/getAllFilms/Fault/JAXBException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getFilmByName">
      <input ns4:Action="http://soap_webservice/FilmSOAPWebService/getFilmByNameRequest" message="tns:getFilmByName" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://soap_webservice/FilmSOAPWebService/getFilmByNameResponse" message="tns:getFilmByNameResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:JAXBException" name="JAXBException" ns6:Action="http://soap_webservice/FilmSOAPWebService/getFilmByName/Fault/JAXBException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getFilmById">
      <input ns7:Action="http://soap_webservice/FilmSOAPWebService/getFilmByIdRequest" message="tns:getFilmById" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://soap_webservice/FilmSOAPWebService/getFilmByIdResponse" message="tns:getFilmByIdResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:JAXBException" name="JAXBException" ns9:Action="http://soap_webservice/FilmSOAPWebService/getFilmById/Fault/JAXBException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addFilm">
      <input ns10:Action="http://soap_webservice/FilmSOAPWebService/addFilmRequest" message="tns:addFilm" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://soap_webservice/FilmSOAPWebService/addFilmResponse" message="tns:addFilmResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateFilm">
      <input ns12:Action="http://soap_webservice/FilmSOAPWebService/updateFilmRequest" message="tns:updateFilm" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns13:Action="http://soap_webservice/FilmSOAPWebService/updateFilmResponse" message="tns:updateFilmResponse" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deleteFilm">
      <input ns14:Action="http://soap_webservice/FilmSOAPWebService/deleteFilmRequest" message="tns:deleteFilm" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns15:Action="http://soap_webservice/FilmSOAPWebService/deleteFilmResponse" message="tns:deleteFilmResponse" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

